.depositWallet {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;

  input{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .material-icons {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
  }
}
